.wrapper {
  min-height: 80vh;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.center Form {
  width: 400px;
  background-color: rgba(120, 100, 100, 0.178);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}
